*.v
*.xpr
*.cache
*.gen
*.hw
*.ip_user_files
*.runs
*.srcs
*.sdk
*.jou
*.log
*.Xil
xgui
/ip/*/component.xml
!/projects/*/*.v
!/test_cocotb/*/*.v
/test_cocotb/*/dut.v
/test_cocotb/*/results.xml
/test_cocotb/*/sim_build
*.gtkw
*.vcd
__pycache__
/dist
