name: 'maia-json'
on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

defaults:
  run:
    working-directory: maia-httpd/maia-json

jobs:
  build-test:
    name: Build and test (x86_64)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Format
      run: cargo fmt -- --check
    - name: Clippy
      run: cargo clippy --all-targets --all-features -- -D warnings
    - name: Doc
      run: cargo doc
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
  publish:
    if: startsWith(github.event.ref, 'refs/tags/maia-json-')
    needs: build-test
    uses: ./.github/workflows/publish.yml
    with:
      path: maia-httpd/maia-json
    secrets:
      registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
