name: 'waterfall-example'
on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

defaults:
  run:
    working-directory: maia-wasm/waterfall-example

jobs:
  wasm:
    name: Rust wasm
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Format
      run: cargo fmt -- --check
    - name: Clippy
      run: cargo clippy --all-targets --all-features -- -D warnings
    - name: Doc
      run: cargo doc
    - name: Install wasm32-unknown-unknown Rust target
      run: rustup target add wasm32-unknown-unknown
    - name: Install wasm-pack
      run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
    - name: Build with wasm-pack
      run: wasm-pack build --target web
